/**
 * @name: curriculum.css
 * @description: 在线课程样式表
 * @author: 干将
 * @update: 2015-05-25 0:0:00;
 */
@import url('./header.css');
html,body{
	overflow: hidden;
}
.curriculum{
	position: absolute;
	left:0;
	top:50%;
	margin:-200px auto 0px;
	width: 100%;
	color:#fff;
}
.curriculum .swiper-wrapper{
	width: 1260px;
	margin:0 auto;
}
.curriculum .swiper-wrapper .swiper-slide{
	float:left;
	height: 400px;
	width: 300px;
	padding:30px;
	border-radius: 12px;
	background:rgba(0,0,0,.3);
	box-sizing: border-box;
	overflow: hidden;
}
.curriculum .swiper-wrapper .swiper-slide + .swiper-slide{
	margin-left:20px;
}

.title{
	font-size:35px;
}
.explain{
	margin-bottom:40px; 
	font-size:26px;
}
.author{
	margin-bottom: 12px;
	font-size:21px;
}
.time{
	margin-bottom:18px;
	font-size:16px;
	color:#FFE12B;
}
.introduce{
	margin-bottom:56px;
	font-size:14px;
}
.study{
	width: 174px;
	height: 58px;
	background: url('../images/btn_blue_stady.png') no-repeat;
	cursor: pointer;
}

/*修改swiper*/
.swiper-container-horizontal>.swiper-pagination-bullets, .swiper-pagination-custom, .swiper-pagination-fraction{
	bottom:0px;
}
.swiper-pagination-bullet{
	width: 12px;
	height: 12px;
}



