/**
 * @name: product.css
 * @description: 产品中心样式表
 * @author: 干将
 * @update: 2015-05-25 0:0:00;
 */
@import url('./header.css');
html,body{
	overflow: hidden;
}
.download{
	position: absolute;
	left: 124px;
	bottom:130px;
}
.download li{
	float:left;
	cursor: pointer;
}
.download li + li{
	margin-left:24px;
}
.download-win{
	background: url('../images/btn_windowsdown.png') no-repeat;
	width:174px;
	height: 58px;
}
.download-mac{
	background: url('../images/btn_macdown.png') no-repeat;
	width:174px;
	height: 58px;
}